<h2> Counter Parent </h2>

<br>

<button type="button" (click)="increment()">Increment</button> &nbsp;

<button type="button" (click)="decrement()">Decrement</button>

<br>

<hr>

<br>

<!-- <app-counter name="Ram"> </app-counter>

<app-counter name="Mohan"> </app-counter>

<app-counter name="Sohan" operation="find"> </app-counter>

<app-counter name="Arjun" operation="filter"> </app-counter>

<app-counter name="Arjun" operation="filter"> </app-counter> -->

<ng-content></ng-content>

<br><br>

<hr>


